@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- GLOBAL ----------- */
html{
    overflow: hidden;
  }
  main {
      height: 100vh;
  }
  
  /* ----------- BACKGROUND ---------*/
  .bg-hero-section {
      position: relative;
    }
    .bg-hero-section::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-image: linear-gradient(to right bottom,rgba(109, 109, 109, 0.676),rgba(7, 7, 7, 0.955)),
      url('./assets/bgPicture.png');
      background-size: cover;
      background-position: center;
      z-index: -1;
      opacity: 0.80;
    }

    .hero-text{
        background-clip: text;
          -webkit-background-clip: text;
          color: rgba(168, 168, 168, 0.103);
          background-image: url('https://cdn.marvel.com/content/1x/mi_wallpaper_mas_mob_01.jpg');
        background-size: cover;
        background-position: top;
        }